<section class="statistics-section">
    <app-url-generator></app-url-generator>
    <h2 class="statistics-title">Advance Statistics</h2>
    <p class="description-paragraph general-description">Track how your links are performing across the web with our advanced statistics dashboard.</p>
    <div class="services-container">
        <div class="service">
            <div class="service__image-container">
                <img src="../../assets/images/icon-brand-recognition.svg" class="service__image" alt="">
            </div>
            <h3 class="service-name">Brand Recognition</h3>
            <p class="description-paragraph">Boost your brand recognition with each click. Generic links don’t mean a thing. Branded links help instil confidence in your content.</p>
        </div>
        <div class="separation-line"></div>
        <div class="service">
            <div class="service__image-container">
                <img src="../../assets/images/icon-detailed-records.svg" class="service__image" alt="">
            </div>
            <h3 class="service-name">Detailed Records</h3>
            <p class="description-paragraph">Gain insights into who is clicking your links. Knowing when and where people engage with your content helps inform better decisions.</p>
        </div>
        <div class="separation-line"></div>
        <div class="service">
            <div class="service__image-container">
                <img src="../../assets/images/icon-fully-customizable.svg" class="service__image" alt="">
            </div>
            <h3 class="service-name">Fully Customizable</h3>
            <p class="description-paragraph">Improve brand awareness and content discoverability through customizable links, supercharging audience engagement.</p>
        </div>
    </div>
    <div class="boost-your-links">
        <h4 class="boost-your-links__title">Boost your links today</h4>
        <button class="btn btn-radius">Get Started</button>
    </div>
</section>